
nav {
    position: absolute;
    z-index: 999;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}

nav li {
    float: left;
}

nav li a {
    font-size: 14px;
    display: block;
    color: white;
    text-align: center;
    padding: 68px 32px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $Sofia-Pro-Extra-Light;

}

nav .logo {
    margin: 0;
    padding: 0;
    z-index: 999;
    padding: 68px 0;
}